<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="novel.dao.CrawelBookMapper" >
  <resultMap id="BaseResultMap" type="novel.model.CrawelBook" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="bookName" property="bookName" jdbcType="VARCHAR" />
    <result column="bookLink" property="bookLink" jdbcType="VARCHAR" />
    <result column="insertTime" property="insertTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="lastArticleLink" property="lastArticleLink" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, bookName, bookLink, insertTime, status, lastArticleLink
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" resultType="java.util.List" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from crawel_book
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="list" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    SELECT
    <include refid="Base_Column_List" />
    FROM crawel_book
    ORDER  BY insertTime
     limit #{startIndex},#{endIndex}
  </select>
  <select id="getCrawelBookCount" resultType="java.lang.Integer">
    SELECT count(0) FROM crawel_book
  </select>
  <select id="selectCrawelBooksByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from crawel_book
    where bookName = #{name,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from crawel_book
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="novel.model.CrawelBook" >
    insert into crawel_book (bookName, bookLink,
      insertTime, status, lastArticleLink
      )
    values (#{bookname,jdbcType=VARCHAR}, #{booklink,jdbcType=VARCHAR},
      #{inserttime,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT}, #{lastarticlelink,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="novel.model.CrawelBook" >
    insert into crawel_book
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="bookname != null" >
        bookName,
      </if>
      <if test="booklink != null" >
        bookLink,
      </if>
      <if test="inserttime != null" >
        insertTime,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="lastarticlelink != null" >
        lastArticleLink,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bookname != null" >
        #{bookname,jdbcType=VARCHAR},
      </if>
      <if test="booklink != null" >
        #{booklink,jdbcType=VARCHAR},
      </if>
      <if test="inserttime != null" >
        #{inserttime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="lastarticlelink != null" >
        #{lastarticlelink,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="novel.model.CrawelBook" >
    update crawel_book
    <set >
      <if test="bookname != null" >
        bookName = #{bookname,jdbcType=VARCHAR},
      </if>
      <if test="booklink != null" >
        bookLink = #{booklink,jdbcType=VARCHAR},
      </if>
      <if test="inserttime != null" >
        insertTime = #{inserttime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="lastarticlelink != null" >
        lastArticleLink = #{lastarticlelink,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="novel.model.CrawelBook" >
    update crawel_book
    set bookName = #{bookname,jdbcType=VARCHAR},
      bookLink = #{booklink,jdbcType=VARCHAR},
      insertTime = #{inserttime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT},
      lastArticleLink = #{lastarticlelink,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="addCrawelBookBatch" useGeneratedKeys="true" parameterType="java.util.List">
    insert into crawel_book (bookName, bookLink,
    insertTime, status, lastArticleLink
    )
    values
    <foreach collection="list" item="item" index="index" separator="," >
      (#{item.bookname},#{item.booklink},#{item.inserttime},#{item.status},#{item.lastarticlelink})
    </foreach>
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
      SELECT
      LAST_INSERT_ID()
    </selectKey>
  </insert>
</mapper>